# Development files
src/
.data/
.env*
!.env.example*
/index.test.ts
src/playground/
tsconfig.json
vitest.config.ts
biome.json

# Build tools
.changeset/

# Git
.git/
.gitignore

# OS
.DS_Store

# Dependencies
node_modules/

# Tests
**/*.test.ts
**/*.spec.ts
coverage/
